In [1]:
import pandas as pd

df = pd.read_csv("C:/Users/Admin/Downloads/bky6-3za5.csv")

size= df.size
dataType = df.dtypes
columns = df.columns
rows = df.head(9)
slicing = df.iloc[0:5]

missing = df.isnull().sum()

print('Data set size',size)
print('Columns ', columns)
print('Print 9 rows of set ', rows)
print('print first 5 raws ', slicing)

Data set size 9548
Columns  Index(['is_cluster', 'pocket_name', 'pocket_alias', 'ward_id',
       'ward_councillor', 'avg_hhsize', 'area_ha', 'density_dwellings',
       'structure_count', 'age_of_is', 'upgrade_category', 'temp_sanitation',
       'toilets_full_flush', 'toilets_chemical', 'toilets_portable',
       'toilets_container', 'toilets_other', 'toilets_total',
       'ratio_toilets_dwellings', 'pocket_code', 'centroidx', 'centroidy'],
      dtype='object')
Print 9 rows of set           is_cluster       pocket_name                pocket_alias   ward_id  \
0            4 in 1            4 in 1  Wallacedene 14 / J Section  19100006
1       Acacia Road       Acacia Road      Acacia Park - Parktown  19100066
2         Amy Biehl         Amy Biehl                 School Site  19100034
3       Appel Boord       Appel Boord                         NaN  19100022
4            Area K            Area K                 Never Never  19100088
5    Atlantis Farms   Meadowvale Farm                         NaN  19100032
6    Atlantis Farms         Rondeberg                         NaN  19100032
7  Atlantis Pockets  Dassenberg Drive                Atlantis Tip  19100029
8  Atlantis Pockets   Pine Grove Farm                         NaN  19100032

           ward_councillor  avg_hhsize  area_ha  density_dwellings  \
0      Simpiwe Nonkeyizana        3.72    2.952          50.813008
1          Melanie Arendse        4.51    0.070         114.285714
2         Fikiswa Nkunzana        2.89    1.711         301.578025
3          Johanna Martlow        4.14    0.088         159.090909
4  Patrick (Pat) Pietersen        4.17    2.661         249.154453
5             Barbara Rass        3.95    0.010         100.000000
6             Barbara Rass        3.95    0.759          15.810277
7          Cynthia Clayton        4.67    1.697          33.588686
8             Barbara Rass        3.95    0.603          19.900498

   structure_count      age_of_is  ... toilets_full_flush  toilets_chemical  \
0              150  15 - 20 years  ...               32.0               0.0
1                8  10 - 15 years  ...                3.0               2.0
2              516  15 - 20 years  ...               93.0               0.0
3               14   5 - 10 years  ...               10.0               0.0
4              663  10 - 15 years  ...              121.0               0.0
5                1   5 - 10 years  ...                0.0               0.0
6               12   5 - 10 years  ...                0.0               0.0
7               57  10 - 15 years  ...                0.0               0.0
8               12     > 20 years  ...                0.0               0.0

   toilets_portable  toilets_container  toilets_other  toilets_total  \
0               0.0                0.0            0.0           32.0
1               0.0                0.0            0.0            5.0
2               0.0                0.0            0.0           93.0
3               0.0                0.0            0.0           10.0
4               0.0                0.0            0.0          121.0
5               0.0                0.0            0.0            0.0
6               0.0                0.0            6.0            6.0
7               0.0                9.0           14.0           23.0
8               0.0                0.0            0.0            0.0

   ratio_toilets_dwellings  pocket_code  centroidx  centroidy
0                    01:05    NORFOU001  18.732603 -33.863384
1                    01:02    HILACA001  18.501024 -34.032822
2                    01:06    MITAMY001  18.587852 -34.002772
3                    01:01    TYGAPP001  18.609142 -33.926268
4                    01:05    MITARE001  18.598543 -34.008208
5                      NaN    NORATL002  18.529397 -33.567081
6                    01:02    NORRON001  18.589864 -33.592408
7                    01:02    NORDAS001  18.475226 -33.577512
8                      NaN    NORPIN001  18.508242 -33.582325

[9 rows x 22 columns]
print first 5 raws      is_cluster  pocket_name                pocket_alias   ward_id  \
0       4 in 1       4 in 1  Wallacedene 14 / J Section  19100006
1  Acacia Road  Acacia Road      Acacia Park - Parktown  19100066
2    Amy Biehl    Amy Biehl                 School Site  19100034
3  Appel Boord  Appel Boord                         NaN  19100022
4       Area K       Area K                 Never Never  19100088

           ward_councillor  avg_hhsize  area_ha  density_dwellings  \
0      Simpiwe Nonkeyizana        3.72    2.952          50.813008
1          Melanie Arendse        4.51    0.070         114.285714
2         Fikiswa Nkunzana        2.89    1.711         301.578025
3          Johanna Martlow        4.14    0.088         159.090909
4  Patrick (Pat) Pietersen        4.17    2.661         249.154453

   structure_count      age_of_is  ... toilets_full_flush  toilets_chemical  \
0              150  15 - 20 years  ...               32.0               0.0
1                8  10 - 15 years  ...                3.0               2.0
2              516  15 - 20 years  ...               93.0               0.0
3               14   5 - 10 years  ...               10.0               0.0
4              663  10 - 15 years  ...              121.0               0.0

   toilets_portable  toilets_container  toilets_other  toilets_total  \
0               0.0                0.0            0.0           32.0
1               0.0                0.0            0.0            5.0
2               0.0                0.0            0.0           93.0
3               0.0                0.0            0.0           10.0
4               0.0                0.0            0.0          121.0

   ratio_toilets_dwellings  pocket_code  centroidx  centroidy
0                    01:05    NORFOU001  18.732603 -33.863384
1                    01:02    HILACA001  18.501024 -34.032822
2                    01:06    MITAMY001  18.587852 -34.002772
3                    01:01    TYGAPP001  18.609142 -33.926268
4                    01:05    MITARE001  18.598543 -34.008208

[5 rows x 22 columns]

In [3]:
df['structure_count_normalized'] = (df['structure_count'] - df['structure_count'].mean()) / df['structure_count'].std()
df['density_dwellings_normalized'] = (df['density_dwellings'] - df['density_dwellings'].mean()) / df['density_dwellings'].std()